Databassystem/Inlämning2Labb/C20antka-Inlm2XML.xml

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT tävling(skidåkare*, snö*, väder*, datum)>
<!ELEMENT datum (#PCDATA)>
<!ELEMENT skidåkare (vikt)>
<!ELEMENT vikt (#PCDATA)>
<!ELEMENT snö(luftfuktighet)>
<!ELEMENT luftfuktighet (#PCDATA)>
<!ELEMENT väder (temperatur)>
<!ELEMENT temperatur (#PCDATA)>
-------------------------------------
<!ELEMENT skidor(nr,skidakareNamn,fabrikat,spann,snoTyp,vaderTyp,strukturNamn)>

<!ATTLIST tävling namn ID #REQUIRED>
<!ATTLIST skidåkare namn ID #REQUIRED>
<!ATTLIST snö typ ID #REQUIRED>
<!ATTLIST väder typ ID #REQUIRED>
--------------------------------------
<!ATTLIST nr,skidakareNamn typ id #REQUIRED>

<root>
  <tävling>
    <skidåkare>Linda Snabb<skidåkare>
    <snö>Lös</snö>
    <väder>Varmt</väder>
    <datum>2021-02-21</datum>
  </tävling>
  <datum>
    #PCDATA
  <datum/>
  <skidåkare>
    <vikt>60kg</vikt>
  </skidåkare>
  <vikt>
    #PCDATA
  </vikt>
  <snö>
    <luftfuktighet>60%</luftfuktighet>
  </snö>
  <luftfuktighet>
    #PCDATA
  </luftfuktighet>  
  <väder>
    <temperatur>#PCDATA</temperatur>
  </väder>
  <temperatur>
    #PCDATA
  </temperatur>
  <skidor>
    <nr>2</nr>
    <skidakareNamn>Markus Hellner</skidakareNamn>
  </skidor>
</root>


